.bkgd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("forms.png");
    background-size: cover;
}

.glasstexture {
    width: 90%;
    background: rgba(255, 255, 255, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbutton {
    width: 100%;
}

form {
    width: 80%;
}